.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.section {
    height: 100%;
    width: 100%;
    min-height: 650px;
}

.person__info{
    display: flex;
    align-items: center;
}

.person__avatar {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
}

.person__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}