.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.section {
  height: 100%;
  width: 100%;
  min-height: 650px;
}

.person__info {
  display: flex;
  align-items: center;
}
.person__name{
  color: #000;
}

.person__avatar {
  height: auto;
  max-width: 300px;
}

.person__desc {
  margin: 30px 0;
}

.map {
  margin: 50px 0;
}

/*gallery*/

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery a{
  margin: 0 10px 20px 10px;
}

.gallery-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
@media(max-width: 600px){
  .gallery-img {
    width: 200px;
    height: 200px;
  }
}
@media(max-width: 462px){
  .gallery {
    justify-content: center;
  }
}

.library {
  width: 400px;
  border: 2px solid #000;
}

.library .item {
  display: inline-block;
}

.library img {
  width: 100px;
  height: 100px;
}

/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/**
 * Simple fade transition,
 */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}